@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.brands {
    background-color: #F2F2F2;
    height: 500px;
    justify-content: center;
}

.brands-text {
    text-align: center;
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: fit-content;
}

.brands-text-title {
    padding-top: 17px;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 58px;
    font-weight: 500;
    color: #111112; /* Para que contraste bien con el fondo */
}

.brands-text-content {
    
    font-weight: 500;
    font-size: 18px;
    color: #B4B4B4;
    margin-top: -27px;
}


/*Intel Component*/
 
.brands-collage-content{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.img {
    width: 300px;
}

/*Buttons*/

.prev-brand {
    position: absolute;
    z-index: 1;
    height: 50px;
}


.next-brand{
    position: absolute;
    z-index: 1;
    height: 50px;
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Más oscuro en hover */
}